.title {
    color: white;
    text-align: center;
    background-color: pink;
    font-size: large;

}
.picture {
    align-items: center;
}
.bullets {
    text-align: center;
    color: olivedrab;
}